<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bildes</title>
</head>
<body>
    <h1>Mūsu darbi:</h1>
    <h2>Pirms un pēc</h2>
    <p><img src="../static/atteli/122.jpg"></p>
    
    <h2>Pirsms un pēc</h2>

    <p><img src="../static/atteli/201.jpg"></p>

    <p><img src="../static/atteli/56.jpg"></p>
    <p><img src="../static/atteli/57.jpg"></p>
    <p><img src="../static/atteli/61.jpg"></p>

    <h2>Procesā</h2>

    <p><img src="../static/atteli/remontdarbi.jpg"></p>

    
</body>
</html>