<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bildes</title>
</head>
<body>
    <h1>Mūsu darbi</h1>

    <ul>
        <li><a href="sakumlapa">Par mums</a></li>

        <li><a href="pakalpojumi">Pakalpojumi</a></li>

        <li><a href="specialisti">Speciālisti</a></li>
    
        <li><a href="kontakti">Kontakti</a></li>

        <li><a href="galerija">Galerija</a></li>

    <h2>Mūsu darbi:</h2>
        <h3>Pirms un pēc:</h3>
  
    <p><img src="../static/atteli/122.jpg"></p>
    
    <h3>Pirms un pēc</h3>

    <p><img src="../static/atteli/201.jpg"></p>

    <p><img src="../static/atteli/56.jpg"></p>
    <p><img src="../static/atteli/57.jpg"></p>
    <p><img src="../static/atteli/61.jpg"></p>

    <h3>Procesā</h3>

    <p><img src="../static/atteli/remontdarbi.jpg"></p>

    <p><a href="home"> Atpakaļ uz sākumu</a></p> 

    
</body>
</html>