<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Būvfirma</title>
</head>
<body>

<h1><strong>BALTIC CENTRS</strong></h1>
<h2><strong><em>Kvalitatīvs remonts Jūsu mājoklim!</em></strong></h2>

    <a href="sakumlapa">Par mums</a>

    <a href="pakalpojumi">Pakalpojumi</a>

    <a href="specialisti">Speciālisti</a>
    
    <a href="kontakti">Kontakti</a>

    <a href="galerija">Galerija</a>

    <p><img src="../static/atteli/remontdarbi (1).jpg"></p>
    
</body>
</html>