<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/buvfirma.css">
    <title>Būvfirma</title>
</head>
<body>

    <h1><strong>BALTIC CENTRS</strong></h1>
    <h2><strong><em>Kvalitatīvs remonts Jūsu mājoklim!</em></strong></h2>

    <ul class="nav">
        <li><a {% if lapa == "home" %} class="active" {% endif %} href="home">Sākums</a></li>
        
        <li><a {% if lapa == "sakumlapa" %} class="active" {% endif %} href="sakumlapa">Par mums</a></li>

        <li><a {% if lapa == "pakalpojumi" %} class="active" {% endif %} href="pakalpojumi">Pakalpojumi</a></li>

        <li><a {% if lapa == "specialisti" %} class="active" {% endif %} href="specialisti">Speciālisti</a></li>
    
        <li><a {% if lapa == "kontakti" %} class="active" {% endif %} href="kontakti">Kontakti</a></li>

        <li><a {% if lapa == "galerija" %} class="active" {% endif %} href="galerija">Galerija</a></li>

    </ul>


    <section>
        {% block saturs %}

        {% endblock %}
    </section>
    
</body>
</html>