<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pakalpojumu sraksts</title>
</head>
<body>
    <h1>Mēs piedāvajām sekojošus pakalpojumus:</h1>
    <p>Ja Jums ir nepieciešamā palīdzība mājokļa vai biroja remotdarbos, mēs esam gatavi sniegt sekojošos pakalpojumus:</p>

    <ul>
        <li>Telpu iekšējā apdare (no 0 līdz 100% rezultatam) </li>
        <li>Vannasistabas un tualetes telpu remontdarbi( arī santehniskie)
        <li>Virtuves remonti (sadarbība ar mūsu partneriem 
            <a href="https://www.virtuves.lv/">Virtuves.lv</a></li>
        <li>Ēku fasādes apdare</li> 
        <li>Visa veida demontāžas darbi</li>
    </ul>
    <h3><em>Plašākā informācija zvanot uz mūsu tālruņa numuru <a href="../templates/kontakti.html">Kontakti</a></em></h3>
    

    
</body>
</html>