{% extends "layout.html" %}

{% set lapa = "pakalpojumi" %}

{% block saturs %}
    <p>Ja Jums ir nepieciešamā palīdzība mājokļa vai biroja remotdarbos, mēs esam gatavi sniegt sekojošos pakalpojumus:</p>

    <ul>
        <li>Telpu iekšējā apdare (no 0 līdz 100% rezultatam) </li>
        <li>Vannasistabas un tualetes telpu remontdarbi( arī santehniskie)
        <li>Virtuves remonti (sadarbība ar mūsu partneriem 
            <a href="https://www.virtuves.lv/">Virtuves.lv</a></li>
        <li>Ēku fasādes apdare</li> 
        <li>Visa veida demontāžas darbi</li>
    </ul>
    <h3><em>Plašākā informācija zvanot uz mūsu tālruņa numuru <a href="kontakti">Kontakti</a></em></h3>

    <p><a href="home">Atpakaļ uz sākumu</a></p>
    
{% endblock %}