<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/buvfirma.css">
    <title>Sākumlapa</title>
</head>
<body>
    <h1>Par kompāniju</h1>

    <ul class="nav">
        <li><a class="active" href="sakumlapa">Par mums</a></li>

        <li><a href="pakalpojumi">Pakalpojumi</a></li>

        <li><a href="specialisti">Speciālisti</a></li>
    
        <li><a href="kontakti">Kontakti</a></li>

        <li><a href="galerija">Galerija</a></li>
    </ul> 

    <section>
    <p>Katra cilvēka ikdienas dzīves un komforta nodrošināšanas viens   
    no svarīgākajiem aspektiem ir kvalitatīvi veikti remonta un 
    celtniecības darbi mājoklī. Mūsu meistaru profesionālais līmenis
    ir iemesls, kāpēc jau no 2015.gada mēs spējam saglabāt stabilas
    pozīcijas celtniecības tirgū. Kompānijas 
    <strong><em>BALTIC CENTRS</em></strong> pieredzes aktīvos uzkrājušies jau simtiem kvadrātmetru 
    kvalitatīvi veiktu dzīvokļu remontu, 
    labiekārtotu dzīvesvietu un ofisa telpu. 
    Kompānijas pamatdarbības veids ir telpu 
    apdares un remonta iekšdarbi. </p>
    </section>

    <h2>Sadarbības partneri:
        <p><a href="https://www.virtuves.lv/"> Virtuves.lv</a></p>
    </h2>

    <p><img src="../static/atteli/remontdarbi-W124gFOHG9.jpg"></p>

    <p><a href="home">Atpakaļ uz sākumu</a></p>
</body>
</html>