<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialisti</title>
</head>
<body>
    <h1>Mūsu speciālisti</h1>

    <ul>
        <li><a href="sakumlapa">Par mums</a></li>

        <li><a href="pakalpojumi">Pakalpojumi</a></li>

        <li><a href="specialisti">Speciālisti</a></li>
    
        <li><a href="kontakti">Kontakti</a></li>

        <li><a href="galerija">Galerija</a></li>
    </ul> 

    <section>
    <h2>Vadošais speciālists</h2>
    <h3>Aleksejs R.</h3>
    <p>Izglītiba: Rīgas Tehniskā universitate, speciālitātē būvdarbu vadītajs</p>
    <p>Darba pieredze 15 gadi</p>

    <h2>Iekšdarbu speciālists</h2>
    <h3>Artūrs K.</h3>
    <p>Izglītība: Rīgas Tehniskā koledža, speciālitātē ēku būvtehniķis</p>
    <p>Darba pieredze 12 gadi.</p>

    <h2>Santehniķis</h2>
    <h3>Aivis P.</h3>
    <p>Izgltība: Dagdas celtniecības koledža</p>
    <p>Darba pieredze 7 gadi</p>

    </section>

    <p><a href="home">Atpakaļ uz sākumu</a></p>
      
</body>
</html>