{% extends "layout.html" %}

{% block saturs %}
    <h2>Vadošais speciālists</h2>
    <h3>Aleksejs R.</h3>
    <p>Izglītiba: Rīgas Tehniskā universitate, speciālitātē būvdarbu vadītajs</p>
    <p>Darba pieredze 15 gadi</p>

    <h2>Iekšdarbu speciālists</h2>
    <h3>Artūrs K.</h3>
    <p>Izglītība: Rīgas Tehniskā koledža, speciālitātē ēku būvtehniķis</p>
    <p>Darba pieredze 12 gadi.</p>

    <h2>Santehniķis</h2>
    <h3>Aivis P.</h3>
    <p>Izgltība: Dagdas celtniecības koledža</p>
    <p>Darba pieredze 7 gadi</p>

    <p><a href="home">Atpakaļ uz sākumu</a></p>

{% endblock %}